<?xml version="1.0"?>
<config>

    <modules>
        <Enru_MadeBy>
            <version>0.1.0</version>
        </Enru_MadeBy>
    </modules>

    <global>
        <blocks>
            <enrumadeby>
                 <class>Enru_MadeBy_Block</class>
            </enrumadeby>
        </blocks>
        <models>
            <enrumadeby>
                 <class>Enru_MadeBy_Model</class>
            </enrumadeby>
        </models>
        <helpers>
            <enrumadeby>
                 <class>Enru_MadeBy_Helper</class>
            </enrumadeby>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <cms>
                        <class>enrumadeby/router</class>
                        <method>initControllerRouters</method>
                    </cms>
                </observers>
            </controller_front_init_routers>
        </events>
   </global>

    <frontend>
        <routers>
            <enrumadeby>
                <use>standard</use>
                <args>
                    <module>Enru_MadeBy</module>
                    <frontName>made</frontName>
                </args>
            </enrumadeby>
        </routers>
	<layout>
		<updates>
			<enrumadeby><file>enrumadeby.xml</file></enrumadeby>
		</updates>
	</layout>
	<events>
		<controller_action_layout_load_before>
			<observers>
				<enrumadeby_update_layout_handle>
					<class>enrumadeby/observer</class>
					<method>addLayoutUpdate</method>
				</enrumadeby_update_layout_handle>
			</observers>
		</controller_action_layout_load_before>
	</events>
    </frontend>

    <default>
        <enrumadeby>
        </enrumadeby>
    </default>


</config>
